/*!
*	Gist: vCard Theme
*	@author: Pranav Rele, https://github.com/pranavrele
*	@version: 0.1
*/

body
{
	color: #666666;
	font-size: 13px;
	line-height: 23px;
	
	background-image: url('/img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;     
}

h1,
h2,
h3,
h4,
h5,
h6,
{
	color: #666;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	margin: 2px 0px;
	padding: 0px;
}

h1 
{
	font-size: 30px;
	line-height: 45px;
}

h2
{
	font-size: 25px;
	line-height: 40px;
}

h3 
{
	font-size: 22px;
	line-height: 37px;
}

h4 
{
	font-size: 18px;
	line-height: 33px;
}

h5 
{
	font-size: 15px;
	line-height: 30px;
}

h6 
{
	font-size: 13px;
	line-height: 28px;
}

p 
{
	margin: 2px 0px;
	padding: 0px;
	margin-bottom:5px;
	line-height:28px;
}

a
{
	text-decoration: none;
	color: #777;
}

a:hover,
a:active,
a:focus
{
	outline: 0;
	text-decoration: none;
	color: #999;
}

hr
{
	margin: 10px 0px;
	padding: 0px;
	border-top: 0px;
	border-bottom: 1px solid #eee;
}

:focus
{
	outline: none;
}

::moz-focus-innner
{
	border: 0;
}

/* Text Color Palette */

.white
{
	color: #ffffff !important;
}

.grey
{
	color: #9e9e9e !important;
}

.black
{
	color: #212121 !important;
}

.red
{
	color: #f44336 !important;
}

.green
{
	color: #4caf50 !important;
}

.blue
{
	color: #2196f3 !important;
}

.orange
{
	color: #ff9800 !important;
}

.yellow
{
	color: #ffeb3b !important;
}

.purple
{
	color: #673ab7 !important;
}

.brown
{
	color: #795548 !important;
}

.cyan
{
	color: #00bcd4 !important;
}

/* Background Color Palette */

.bg-white
{
	color: #ffffff !important;
}

.bg-grey
{
	color: #9e9e9e !important;
}

.bg-black
{
	color: #212121 !important;
}

.bg-red
{
	color: #f44336 !important;
}

.bg-green
{
	color: #4caf50 !important;
}

.bg-blue
{
	color: #2196f3 !important;
}

.bg-orange
{
	color: #ff9800 !important;
}

.bg-yellow
{
	color: #ffeb3b !important;
}

.bg-purple
{
	color: #673ab7 !important;
}

.bg-brown
{
	color: #795548 !important;
}

.bg-cyan
{
	color: #00bcd4 !important;
}

/* Border Color Palette */

.br-white
{
	border: 1px solid #ffffff !important;
}

.br-grey
{
	border: 1px solid #9e9e9e !important;
}

.br-black
{
	border: 1px solid #212121 !important;
}

.br-red
{
	border: 1px solid #f44336 !important;
}

.br-green
{
	border: 1px solid #4caf50 !important;
}

.br-blue
{
	border: 1px solid #2196f3 !important;
}

.br-orange
{
	border: 1px solid #ff9800 !important;
}

.br-yellow
{
	border: 1px solid #ffeb3b !important;
}

.br-purple
{
	border: 1px solid #673ab7 !important;
}

.br-brown
{
	border: 1px solid #795548 !important;
}

.br-cyan
{
	border: 1px solid #00bcd4 !important;
}

/* Button Schematic */

.btn
{
	border-radius: 2px;
	position: relative;
}

.btn.btn-no-border
{
	border: 0px !important;
}

/* Button Color Palette */

.btn.btn-white
{
	color: #666666;
	background: #ffffff;
	border: 1px solid #dddddd;
}

.btn.btn-white:hover,
.btn.btn-white:focus,
.btn.btn-white.active,
.btn.btn-white:active
{
	color: #666666;
	background: #f7f7f7;
}

.btn.btn-grey
{
	color: #ffffff;
	background: #9e9e9e;
	border: 1 px solid #616161;
}

.btn.btn-grey:hover,
.btn.btn-grey:focus,
.btn.btn-grey.active,
.btn.btn-grey:active
{
	color: #ffffff;
	background: #616161;
}

.btn.btn-black
{
	color: #ffffff;
	background: #212121;
	border: 1 px solid #000000;
}

.btn.btn-black:hover,
.btn.btn-black:focus,
.btn.btn-black.active,
.btn.btn-black:active
{
	color: #ffffff;
	background: #000000;
}

.btn.btn-red
{
	color: #ffffff;
	background: #f44336;
	border: 1 px solid #d32f2f;
}

.btn.btn-red:hover,
.btn.btn-red:focus,
.btn.btn-red.active,
.btn.btn-red:active
{
	color: #ffffff;
	background: #d32f2f;
}

.btn.btn-green
{
	color: #ffffff;
	background: #4caf50;
	border: 1 px solid #388e3c;
}

.btn.btn-green:hover,
.btn.btn-green:focus,
.btn.btn-green.active,
.btn.btn-green:active
{
	color: #ffffff;
	background: #388e3c;
}

.btn.btn-blue
{
	color: #ffffff;
	background: #2196f3;
	border: 1 px solid #1976d2;
}

.btn.btn-blue:hover,
.btn.btn-blue:focus,
.btn.btn-blue.active,
.btn.btn-blue:active
{
	color: #ffffff;
	background: #1976d2;
}

.btn.btn-orange
{
	color: #ffffff;
	background: #ff9800;
	border: 1 px solid #f57c00;
}

.btn.btn-orange:hover,
.btn.btn-orange:focus,
.btn.btn-orange.active,
.btn.btn-orange:active
{
	color: #ffffff;
	background: #f57c00;
}

.btn.btn-yellow
{
	color: #ffffff;
	background: #ffeb3b;
	border: 1 px solid #fbc02d;
}

.btn.btn-yellow:hover,
.btn.btn-yellow:focus,
.btn.btn-yellow.active,
.btn.btn-yellow:active
{
	color: #ffffff;
	background: #fbc02d;
}

.btn.btn-purple
{
	color: #ffffff;
	background: #673ab7;
	border: 1 px solid #512da8;
}

.btn.btn-purple:hover,
.btn.btn-purple:focus,
.btn.btn-purple.active,
.btn.btn-purple:active
{
	color: #ffffff;
	background: #512da8;
}

.btn.btn-brown
{
	color: #ffffff;
	background: #795548;
	border: 1 px solid #5d4037;
}

.btn.btn-brown:hover,
.btn.btn-brown:focus,
.btn.btn-brown.active,
.btn.btn-brown:active
{
	color: #ffffff;
	background: #5d4037;
}

.btn.btn-cyan
{
	color: #ffffff;
	background: #00bcd4;
	border: 1 px solid #0097a7;
}

.btn.btn-cyan:hover,
.btn.btn-cyan:focus,
.btn.btn-cyan.active,
.btn.btn-cyan:active
{
	color: #ffffff;
	background: #0097a7;
}

/* Label Schematic */

.label.label-xs
{
	font-size: 10px;
	padding: 1px 5px;
	line-height: 12px;
}

.label.label-sm
{
	font-size: 11px;
	padding: 2px 6px;
	line-height: 15px;
}

.label.label-lg
{
	font-size: 13px;
	padding: 5px 9px;
	line-height: 23px;
}

/* Label Color Palette */

.label.label-white
{
	color: #666666 !important;
	background: #f7f7f7;
}

.label.label-grey
{
	color: #666666 !important;
	background: #9e9e9e;
}

.label.label-black
{
	color: #ffffff;
	background: #212121;
}

.label.label-red
{
	color: #ffffff;
	background: #f44336;
}

.label.label-green
{
	color: #ffffff;
	background: #4caf50;
}

.label.label-blue
{
	color: #ffffff;
	background: #2196f3;
}

.label.label-orange
{
	color: #ffffff;
	background: #ff9800;
}

.label.label-yellow
{
	color: #ffffff;
	background: #ffeb3b;
}

.label.label-purple
{
	color: #ffffff;
	background: #673ab7;
}

.label.label-brown
{
	color: #ffffff;
	background: #795548;
}

.label.label-cyan
{
	color: #ffffff;
	background: #00bcd4;
}



