/*!
*	Gist: vCard Theme
*	@author: Pranav Rele, https://github.com/pranavrele
*	@version: 0.1
*/

body {	
	font-size: 13px;
	line-height: 23px;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-image: url('/img/background.jpg'); /* Insert Background Image */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

h1, h2, h3, h4, h5, h6,
{
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 2px 0px;
	padding: 0px;
}

h1 {
	font-size: 30px;
	line-height: 45px;
}

h2 {
	font-size: 25px;
	line-height: 40px;
}

h3 {
	font-size: 22px;
	line-height: 37px;
}

h4 {
	font-size: 18px;
	line-height: 33px;
}

h5 {
	font-size: 15px;
	line-height: 30px;
}

h6 {
	font-size: 13px;
	line-height: 28px;
}

p {
	margin: 2px 0px;
	padding: 0px;
	margin-bottom: 5px;
	line-height: 28px;
}

a {
	text-decoration: none;
	color: #777;
}

a:hover, a:active, a:focus {
	outline: 0;
	text-decoration: none;
	color: #999;
}

:focus {
	outline: none;
}

::moz-focus-innner {
	border: 0;
}

/* Main */

.main {
	margin: 20px 0px;
	padding-top: 160px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 50px;
}

.main .outer-ring {
	max-width: 350px;
	margin: 20px auto;
}

.main .orbital .satellites {
	position: absolute;
	display: block;
	border-radius: 50%;
	margin-top: -25px;
	border: 3px solid #fff;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

/* CSS for all 8 possible satellites is provided in the event it is preferred or if orientation of the user image is to be changed */
.main .orbital .satellites.s-one { top: 0%; right: 50%; margin-right: -25px } /* North */
.main .orbital .satellites.s-two { top: 50%; right: 0%; margin-right: -25px } /* East */
.main .orbital .satellites.s-three { top: 100%; right: 50%; margin-right: -25px } /* South */
.main .orbital .satellites.s-four { top: 50%; left: 0%; margin-left: -25px } /* West */
.main .orbital .satellites.s-five { top: 85%; right: 14%; margin-right: -25px } /* South East */
.main .orbital .satellites.s-six { top: 15%; right: 14%; margin-right: -25px } /* North East */
.main .orbital .satellites.s-seven { top: 15%; left: 14%; margin-left: -25px } /* North West */
.main .orbital .satellites.s-eight { top: 85%; left: 14%; margin-left: -25px } /* South West */
.main .orbital a > i {
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 25px;
	max-width: 50px;
	color: #888;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.main .orbital a:hover > i {
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
}

.main .outer-ring .inner-ring {
	position: relative;
	max-width: 350px;
	padding: 50px;
	border: 1px solid transparent;
	border-radius: 50%;
}

.main .inner-ring .central {
	position: relative;
	width: 240px;
	height: 240px;
	margin: 0 auto;
	border: 4px solid #fff;
	border-radius: 50%;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.16), inset 0 0 5px rgba(0,0,0,0.06);
	text-align: center;
}

.main .inner-ring .central img {
	width: 100%;
	max-width: 240px;
	margin: 0px auto;
}

.main .inner-ring .central h3 {
	position: absolute;
	bottom: 20px;
	left: 8px;
	text-align: center;
	color: #000;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	height: 45px;
	width: 216px;;
	border-radius: 0 0 90px 90px;
	-moz-border-radius: 0 0 90px 90px;
    -webkit-border-radius: 0 0 90px 90px;
    background-color: #fff;
    line-height: 2.2;
}

.main .description {
	max-width: 1000px;
	margin: 50px auto;
}

.main .description h3 {
	color: #fff;
	font-size: 28px;
	line-height: 38px;
	padding-right: 24px;
	font-weight: 300;
	width: 200px;
	float: left;
	border-right: 4px solid rgba(255,255,255,0.5);
	text-align: right;
}

.main .description .content {
	margin-left: 200px;
	color: #fff;
	padding-left: 24px;
}

.main .description .content p {
	font-size: 16px;
	line-height: 32px;
	font-weight: 300;
	color: rgba(255,255,255,0.9);
}

/* Responsive */

@media (max-width: 767px) {
	
	.main {
		padding: 20px;
		margin: auto;
	}
	
	.main .satellites {
		margin-bottom: 30px;
		text-align: center;
	}
	
	.main .orbital .satellites {
		position: static;
		display: inline-block;
		margin: 6px !important;
	}
	
	.main .outer-ring .inner-ring {
		padding: 0px 0px 0px 10px;
		border: 0;
	}
	
	.main .inner-ring .central {
		max-width: 260px;
		bottom: 10px;
	}
	
	.tooltip {
    visibility: hidden !important;
	}
}

@media(max-width: 530px) {
	.main .description h3 {
		width: 100%;
		float: none;
		text-align: left;
		border-bottom: 4px solid rgba(255,255,255,0.5);
		border-right: 0px;
		padding: 0px 0px 16px 0px;
		margin-bottom: 12px;
	}
	
	.main .description .content {
		margin-left: 0px;
		padding-left: 0px;
	}
}

/* Social Media Buttons */

.main .orbital a > i.btn-facebook { color: #134fa0 }
.main .orbital a:hover > i.btn-facebook {
	background: #134fa0;
	color: #fff;
}

.main .orbital a > i.btn-twitter { color: #32c8de }
.main .orbital a:hover > i.btn-twitter {
	background: #32c8de;
	color: #fff;
}

.main .orbital a > i.btn-google-plus { color: #eb6440 }
.main .orbital a:hover > i.btn-google-plus {
	background: #eb6440;
	color: #fff;
}

.main .orbital a > i.btn-linkedin { color: #3069b6 }
.main .orbital a:hover > i.btn-linkedin {
	background: #3069b6;
	color: #fff;
}

.main .orbital a > i.btn-pinterest { color: #b72411 }
.main .orbital a:hover > i.btn-pinterest {
	background: #b72411;
	color: #fff;
}

.main .orbital a > i.btn-dropbox { color: #32c8de }
.main .orbital a:hover > i.btn-dropbox {
	background: #32c8de;
	color: #fff;
}

.main .orbital a > i.btn-bitcoin { color: #f8a841 }
.main .orbital a:hover > i.btn-bitcoin {
	background: #f8a841;
	color: #fff;
}

.main .orbital a > i.btn-foursquare { color: #22bed4 }
.main .orbital a:hover > i.btn-foursquare {
	background: #22bed4;
	color: #fff;
}

.main .orbital a > i.btn-flickr { color: #fa00d4 }
.main .orbital a:hover > i.btn-flickr {
	background: #fa00d4;
	color: #fff;
}

.main .orbital a > i.btn-github { color: #333333 }
.main .orbital a:hover > i.btn-github {
	background: #333333;
	color: #fff;
}

.main .orbital a > i.btn-instagram { color: #b35637 }
.main .orbital a:hover > i.btn-instagram {
	background: #b35637;
	color: #fff;
}

.main .orbital a > i.btn-skype { color: #32c8de }
.main .orbital a:hover > i.btn-skype {
	background: #32c8de;
	color: #fff;
}

.main .orbital a > i.btn-tumblr { color: #476d9f }
.main .orbital a:hover > i.btn-tumblr {
	background: #476d9f;
	color: #fff;
}

.main .orbital a > i.btn-vimeo { color: #32c8de }
.main .orbital a:hover > i.btn-vimeo {
	background: #32c8de;
	color: #fff;
}

.main .orbital a > i.btn-dribbble { color: #ff2edf }
.main .orbital a:hover > i.btn-dribbble {
	background: #ff2edf;
	color: #fff;
}

.main .orbital a > i.btn-youtube { color: #b72411 }
.main .orbital a:hover > i.btn-youtube {
	background: #b72411;
	color: #fff;
}

.main .orbital a > i.btn-mail { color: #b72411 }
.main .orbital a:hover > i.btn-mail {
	background: #b72411;
	color: #fff;
}


/* Tooltips */

.tooltip {
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0);
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

.tooltip.top {
    margin-top: -2px;
}

.tooltip.right {
    margin-left: 2px;
}

.tooltip.bottom {
    margin-top: 2px;
}

.tooltip.left {
    margin-left: -2px;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #fff;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #fff;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #000;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
}

