@include media($tablet-portrait) {
	
	.profile-image {
		margin: 2em 0;
		padding: 5em 0;
		
		img {
			width: 21em;
			margin: 0;
			padding: 0;
		}
	}
	
	.social-media {
		position: absolute;
		display: block;
		margin: 4.6em 0;
		padding: 2.5em 0;
		overflow: visible;
		
		a {
			font-size: 2.3em;
			width: 2em;
			float: none;
			padding: 0;
			margin: 0;
		}
		
		.social-n {
			left: 5.2em;
			bottom: 1em;
		}
		
		.social-nw {
			top: 0.8em;
			right: 1.2em;
		}
		
		.social-w {
			top: 5em;
			right: 4.9em;
		}
		
		.social-sw {
			top: 9.2em;
			right: 5.5em;
		}
		
		.social-s {
			top: 11.1em;
			right: 3.2em;
		}
		
		.social-se {
			top: 9.1em;
			right: 0.7em;
		}
	}
	
	.tagline {
		@include span-columns(4 of 12);
		padding: 0;
		text-align: right;
		
		h3 {
			border-top: none;
			border-bottom: none;
			border-right: em(4) solid rgba($gist-light-gray, 0.5);
			letter-spacing: 0.25em;
			padding: 0 1em 0 0.5em;
		}
	}
	
	.description {
		@include span-columns(8 of 12);
		margin: 0;
		padding: 0 1em 0 0;
		text-align: left;
		
		p {
			font-size: 1em;
			line-height: 2em;
		}
	}
	
	.cta {
		@include span-columns(8 of 12);
		@include shift(2);
		margin-top: 2em;
	}
}